refdata-cellranger-arc-GRCh38-2020-A-2.0.0
refdata-cellranger-arc-mm10-2020-A-2.0.0
.latch/.logs
.latch/token
bbmap
cellranger-atac-2.1.0
**/__pycache__
.snakemake
fastqs/sample1/*
cr_inputs
*fastq*
refdata*
cellranger-atac-2.1.0